<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974204795807-npd12e9njlkut18ee1k263bg5tbq7id8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974204795807-npd12e9njlkut18ee1k263bg5tbq7id8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974204795807-dc0f3m4gvlufeii20ist5m27p5325e0k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDD5lDzloog0jASz0Mf9u3eYi-HzCKpdyA</string>
	<key>GCM_SENDER_ID</key>
	<string>974204795807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homecook</string>
	<key>PROJECT_ID</key>
	<string>homecook-296800</string>
	<key>STORAGE_BUCKET</key>
	<string>homecook-296800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974204795807:ios:b43021de6fc5bcf3f41baa</string>
	<key>DATABASE_URL</key>
	<string>https://homecook-296800-default-rtdb.firebaseio.com</string>
</dict>
</plist>